@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-bg-fundo: #C1E1AF; 
    --cor-navbar: #F1F6F0;
    --cor-fonte: #14150F;
    --cor-btn: #628A4C;
    --img-bg: #e8f0e3;
    --cor-btn-pointer: #87B344;
    --cor-btn-click: #77A364;
    --cor-sombra-navbar: rgba(30, 54, 30, 0.15);
    --campotxt-bg: #D9E9C0;
    --campotxt2: #D3F1C2;
}

[data-theme="dark"]{
    --cor-bg-fundo: #1E1F18;
    --cor-fonte: #E8F0E3;
    --cor-navbar:#303136;
    --img-bg: #14150f;
    --cor-sombra-navbar: rgba(255, 255, 255, 0.15);
    --campotxt-bg: #596A40;
    --campotxt2: #313326;
}

body {
    margin: 0;
    height: 100vh;
    background: var(--img-bg);
    background: var(--img-bg);
    background-size: cover;
    color: var(--cor-fonte);
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 80px;
    background: var(--img-bg);
    margin-bottom: 10px;
}

#btnTheme {
    position: fixed; 
    top: 0; 
    right: 0; 
    margin: 20px 20px; 
    width: 30px;
    height: 30px;
    font-size: 30px;
    border-radius: 50%;
    border: transparent;
    background: transparent;
    color: var(--cor-fonte);
    font-weight: 700;
    cursor: pointer;
    transition: all .50s ease;
    z-index: 1000; 

    &:hover {
        transform: translateX(-3px);
    }
}


.container {
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1 {
    color: var(--cor-btn);
    margin-left: 15px;
}

.left-login-imagem {
    width: 35vw;
    margin-left: 15px;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 15px;
    min-height: 300px;
    background: var(--cor-bg-fundo);
    border-radius: 30px;
    box-shadow: 0px 10px 40px #00000056 30%;
}

.card-login h1 {
    color: var(--cor-btn);
    font-weight: 800;
    font-size: 40px;
    margin: 0;
}

.textfield {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: var(--campotxt2);
    color: var(--cor-fonte);
    font-size: 16px;
    box-shadow: #00000056 0px 10px 40px 30%;
    outline: none;
    box-sizing: border-box;
}


.textfield label {
    color: var(--cor-fonte);
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 5px;
}

.criar-conta {
    width: 80%;
    padding: 10px 0px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: var(--cor-btn);
    color: white;
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3px;
    box-shadow: 0px 10px 40px -12px var(--cor-btn);
    transition: all .2s ease;

    &:hover {
        transform: translateY(-2px);
        background: var(--cor-btn-pointer);
    }
}


@media screen and (max-width: 800px) {
    body {
        overflow: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: -5rem;
        min-height: 160vh;
    }


    .left-login h1 {
        font-size: 26px;
        padding: 10px 10px;
        margin: 0;
    }

    .left-login .left-login-imagem {
        width: 90vw;
    }

    .right-login {
        width: 90%;
        margin-top: -4rem;
        margin-bottom: 30px;
    }
    

    .card-login {
        width: 100%;
        margin-top: -70px;
    }
}