@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,1000;1,9..40,300;1,9..40,500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: rgba(18, 18, 18, 1);
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(18, 18, 18, 1);
    padding: 20px 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.logo-image {
    width: 150px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

nav ul li a {
    margin-top: 60px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.cadform {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.textocontent {
    max-width: 400px;
    text-align: left;
}

.textocontent h1 {
    font-size: 45px;
    margin-top: 60px;
    font-weight: 700;
    color: white;
}

.textocontent h3 {
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-top: 20px;
}

.formulario {
    margin-top: 80px;
    margin-right: 160px;
    max-width: 400px;
    align-self: flex-start;
    text-align: left;
}


.lbform {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-top: 20px;
}

.message {
    font-size: 14px;
    font-weight: 300;
    color: white;
}

.campotxt {
    width: 540px;
    height: 30px;
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 30px;
    background-color: transparent;
    padding: 5px 10px;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.criar-conta {
    z-index: 1;
    width: 280px;
    height: 45px;
    background-color: #156513;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 290px;
    align-self: flex-end;
}



