@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,1000;1,9..40,300;1,9..40,500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: rgba(18, 18, 18, 1);
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(18, 18, 18, 1);
    padding: 20px 8%;
    box-sizing: border-box;
    position: relative;
}

.navbar {
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.logo-image {
    width: 150px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
    margin-top: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#btnPerfil {
    margin-left: 10px;
}

#btnSair {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 35px;
    background-color: #156513;
    border-radius: 30px;
    border-color: transparent;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.contaUser {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.iconuser {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightgray;
    background-size: cover;
}

.lbuser {
    font-size: 18px;
    font-weight: 1000;
    color: white;
    margin-left: 10px;
}

.left {
    color: white;
    text-align: left;
    flex: 1;
}

.left h1 {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.left h2 {
    color: white;
    font-size: 25px;
    font-weight: 400;
}

.btnQuantidade input[type="number"] {
    /* Estilos específicos para o botão de quantidade */
}

.enderecoentrega input[type="text"] {
    background: transparent;
    border: 2px solid white;
    border-radius: 25px;
    width: 300px;
    height: 40px;
}

.enderecoentrega input[type="submit"] {
    background: #156513;
    color: white;
    font-size: 18px;
    font-weight: 700;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}

.meiopagamento input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

.meiopagamento input[type="checkbox"] + label {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.valorcompra h2 {
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.valorcompra h3 {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.right {
    color: white;
    text-align: left;
    flex: 1;
}

.right h2 {
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.right h3 {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.right input[type="text"],
.right input[type="password"],
.right input[type="date"] {
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    width: 300px;
    height: 40px;
    margin-right: 10px;
}

.right input[type="submit"] {
    background: #156513;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 30px;
    width: 300px;
    height: 40px;
    border: none;
}
