@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,1000;1,9..40,300;1,9..40,500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
    outline: none; 
    border: none;
    transition: all .2s linear;
}

body {
    background-color: rgba(18, 18, 18, 1);
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #156513, #121212, #121212);
	background-size: 300% 300%;
	animation: color 12s ease-in-out infinite;
    padding: 20px 8%;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
}

.navbar {
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.logo-image {
    width: 150px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
    margin-top: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#btnPerfil {
    margin-left: 10px;
}

#btnSair {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 35px;
    background-color: #156513;
    border-radius: 30px;
    border-color: transparent;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: white;
}

#btnSair:hover {
    background-color: #248C21;
}

.contaUser {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.iconuser {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightgray;
    background-size: cover;
}

.lbuser {
    font-size: 18px;
    font-weight: 1000;
    color: white;
    margin-left: 10px;
}


.pag-form {
    margin-top: 70px;
    padding: 20px;
    background: rgba(107, 107, 107, 0.10);
    border-radius: 20px;
    border: 2px solid white;
    width: 60%;
    margin: 70px auto;
}

.pag-form .titulopag {
    color: white;
    font-size: 35px;
    font-weight: 700;
}

.pag-form .lbtexto {
    color: white;
    font-size: 22px;
    margin-top: 5px
}

.left-col {
    margin-right: 50px;
    text-align: left;
}

.right-col {
    text-align: right;
    margin-left: 15px;
  }

.container .pag-form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container .pag-form .row .col{
    flex: 1 1 250px;
}

.container .pag-form .row .col .titulo {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container .pag-form .row .col .inputBox {
    margin: 15px 0;
}

.pag-form .inputBox .lbcampo{
    margin-bottom: 5px;
    display: block;
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.pag-form .inputBox .lbcampo2{
    margin-bottom: 5px;
    display: block;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.pag-form .inputBox input{
    background: transparent;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.60);
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 18px;
    text-transform: 18px;
    color: white;
}

 .pag-form .inputBox input:focus {
    border:2px solid white;
}

.pag-form .flex {
    display: flex;
    gap: 15px;
}

.pag-form  .inputBox {
    margin-top: 5px;
}

.pag-form .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px white);
}

.pag-form .btnFinalizar {
    width: 50%;
    padding: 12px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #156513;
    margin-top: 5px;
    border: transparent;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    text-align: center;
}

.pag-form .btnFinalizar:hover {
    background-color: #248C21;
}

@media only screen and (max-width: 768px) {
    .container {
      padding: 20px 2%;
    }
  
    .pag-form {
      width: 100%;
    }
  
    .left-col {
      margin-right: 0; 
    }
  }