@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-bg-fundo: #E8F0E3; 
    --cor-navbar: #F1F6F0;
    --cor-fonte: #14150F;
    --cor-btn: #628A4C;
    --img-bg: url('fundo1light.png');
    --cor-btn-pointer: #87B344;
    --cor-btn-click: #77A364;
    --cor-sombra-navbar: rgba(30, 54, 30, 0.15);
}

[data-theme="dark"]{
    --cor-bg-fundo: #14150F;
    --cor-fonte: #E8F0E3;
    --cor-navbar:#303136;
    --img-bg: url('fundo1dark.png');
    --cor-sombra-navbar: rgba(255, 255, 255, 0.15);
}

body {
    min-height: 100vh;
    background: var(--img-bg);
    background-size: cover;
    color: var(--cor-fonte);
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 1.75rem 12%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.img-logo {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.logo span{
    font-size: 1.5rem;
    font-weight: 1000;
    color: var(--cor-fonte);
    margin-right: 2px;
    font-family: 'Agbalumo', serif;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--cor-fonte);
    font-size: 1.2rem;
    font-weight: 700;
    transition: all .50s ease;

    &:hover {
        color: var(--cor-btn);
        transform: translateX(5px);
    }
}


#btnTheme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    border-radius: 50%;
    border: transparent;
    background: transparent;
    color: var(--cor-fonte);
    font-weight: 700;
    transition: all .50s ease;
    
    &:hover{
        transform: translateX(5px);
    }
}

#btn-logout {
    font-size: 25px;
    color: var(--cor-fonte);
    cursor: pointer;
    z-index: 1000;

    &:hover{
        color: var(--cor-btn);
    }
}

.ftperfil {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: transparent;
    background-color: lightgrey;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0 10%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
    background: transparent;
    margin-top: 1rem;
}

.form-compra {
    margin-top: 1rem;
    align-self: center;
    width: 600px;
    height: 500px;
    text-align: center;
    background: transparent;
    border-radius: 20px;
    border: 2px solid var(--cor-fonte) 20%;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 5px var(--cor-fonte);

}

.form-compra h2 {
    font-size: 30px;
    font-weight: 1000;
    color: var(--cor-fonte);
    margin-top: 1.5rem;
    margin-bottom: 0.4rem;
}

.form-compra h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-fonte);
    margin-bottom: 1rem;
}

.form-img {
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.lbimg {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--cor-fonte);
}

.form-img img {
    margin-top: 5px;
    margin-bottom: 60px;
}

.left-items {
    width: 100%;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
    background: transparent;
}

.campotxt {
    width: 200px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    margin: 8px;
    padding: 0 2%;
    color: var(--cor-fonte);
    background: var(--cor-bg-fundon);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 5px var(--cor-fonte);
    border: 2px solid var(--cor-fonte) 20%;
    border-radius: 30px;
}

.form-btns {
    width: 100%;
    margin-top: 0.5rem;
}

.finalizar {
    width: 190px;
    height: 35px;
    font-size: 18px;
    font-weight: 700;
    background: var(--cor-btn);
    color: white;
    border: 2px solid var(--cor-btn);
    border-radius: 30px;
    cursor: pointer;
    transition: all .50s ease;

    &:hover {
        transform: translateY(3px);
        background: var(--cor-btn-pointer);
    }
}

.cancelar {
    margin-top: 10px;
    width: 190px;
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-fonte);
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: all .50s ease;

    &:hover {
        transform: translateY(3px);
        color: var(--cor-btn);
    }
}
#cep {
    width: 420px;
}
/** {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
    outline: none; 
    border: none;
    transition: all .2s linear;
}

body {
    background-color: rgba(18, 18, 18, 1);
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #156513, #121212, #121212);
	background-size: 300% 300%;
	animation: color 12s ease-in-out infinite;
    padding: 20px 8%;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
}

.navbar {
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.logo-image {
    width: 150px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
    margin-top: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#btnPerfil {
    margin-left: 10px;
}

#btnSair {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 35px;
    background-color: #156513;
    border-radius: 30px;
    border-color: transparent;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: white;
}

#btnSair:hover {
    background-color: #248C21;
}

.contaUser {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.iconuser {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightgray;
    background-size: cover;
}

.lbuser {
    font-size: 18px;
    font-weight: 1000;
    color: white;
    margin-left: 10px;
}


.pag-form {
    margin-top: 70px;
    padding: 20px;
    background: rgba(107, 107, 107, 0.10);
    border-radius: 20px;
    border: 2px solid white;
    width: 60%;
    margin: 70px auto;
}

.pag-form .titulopag {
    color: white;
    font-size: 35px;
    font-weight: 700;
}

.pag-form .lbtexto {
    color: white;
    font-size: 22px;
    margin-top: 5px
}

.left-col {
    margin-right: 50px;
    text-align: left;
}

.right-col {
    text-align: right;
    margin-left: 15px;
  }

.container .pag-form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container .pag-form .row .col{
    flex: 1 1 250px;
}

.container .pag-form .row .col .titulo {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container .pag-form .row .col .inputBox {
    margin: 15px 0;
}

.pag-form .inputBox .lbcampo{
    margin-bottom: 5px;
    display: block;
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.pag-form .inputBox .lbcampo2{
    margin-bottom: 5px;
    display: block;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.pag-form .inputBox input{
    background: transparent;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.60);
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 18px;
    text-transform: 18px;
    color: white;
}

 .pag-form .inputBox input:focus {
    border:2px solid white;
}

.pag-form .flex {
    display: flex;
    gap: 15px;
}

.pag-form  .inputBox {
    margin-top: 5px;
}

.pag-form .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px white);
}

.pag-form .btnFinalizar {
    width: 50%;
    padding: 12px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #156513;
    margin-top: 5px;
    border: transparent;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    text-align: center;
}

.pag-form .btnFinalizar:hover {
    background-color: #248C21;
}

@media only screen and (max-width: 768px) {
    .container {
      padding: 20px 2%;
    }
  
    .pag-form {
      width: 100%;
    }
  
    .left-col {
      margin-right: 0; 
    }
  }

  */