@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-bg-fundo: #E8F0E3; 
    --cor-navbar: #F1F6F0;
    --cor-fonte: #14150F;
    --cor-btn: #628A4C;
    --img-bg: url('fundo1light.png');
    --cor-btn-pointer: #87B344;
    --cor-btn-click: #77A364;
    --cor-sombra-navbar: rgba(30, 54, 30, 0.15);
}

[data-theme="dark"]{
    --cor-bg-fundo: #14150F;
    --cor-fonte: #E8F0E3;
    --cor-navbar:#303136;
    --img-bg: url('fundo1dark.png');
    --cor-sombra-navbar: rgba(255, 255, 255, 0.15);
}

body {
    min-height: 100vh;
    background: var(--img-bg);
    background-size: cover;
    color: var(--cor-fonte);
    overflow: hidden;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 1.75rem 12%;
    transition: all .50s ease;
    box-shadow: 0px 3px 30px 3px var(--cor-sombra-navbar) inset;
}

.logo {
    display: flex;
    align-items: center;
}

.img-logo {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.logo span{
    font-size: 1.5rem;
    font-weight: 1000;
    color: var(--cor-fonte);
    margin-right: 2px;
    font-family: 'Agbalumo', serif;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--cor-fonte);
    font-size: 1.2rem;
    font-weight: 700;
    transition: all .50s ease;

    &:hover {
        color: var(--cor-btn);
        transform: translateX(5px);
    }
}

.iconuser{
    background-color: lightgray;
    border-radius: 50%;
    width: 2.0rem;
    height: 2.0rem;
    max-width: 2.0rem;
    max-height: 2.0rem;
    min-width: 2.0rem;
    min-height: 2.0rem;
    padding: 0 5%;
}

#usericon{
    display: flex;
    align-items: center;
}


#btnTheme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    border-radius: 50%;
    border: transparent;
    background: transparent;
    color: var(--cor-fonte);
    font-weight: 700;
    transition: all .50s ease;
    
    &:hover{
        transform: translateX(5px);
    }
}

#btn-logout {
    font-size: 25px;
    color: var(--cor-fonte);
    cursor: pointer;
    z-index: 1000;

    &:hover{
        color: var(--cor-btn);
    }
}





main {
    display: flex;
    width: 100%;
    height: 100vh; 
    flex-direction: column;
    background: transparent;
    position: relative;
    text-align: center;
    padding: 0 10%;
    justify-content: center;
}

.search-box {
    width: 100%;
    max-width: 500px;
    height: 45px;
    text-align: center;
    background: var(--cor-bg-fundo);
    border: 2px solid var(--cor-fonte);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 30px;
    margin-top: 2rem; 

    align-self: center;
    display: flex;
}

.search-txt {
    width: 97%;
    height: 30px;
    padding: 5px 2%;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 18px;
    align-items: center;
    color: var(--cor-fonte);
    border: 0px;
    outline: 0px;
    background:transparent;
}


.search-btn {
    width: 35px;
    height: 35px;
    background: transparent;
    color: var(--cor-fonte);
    font-size: 25px;
    align-self: center;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition: all 0.4s ease;
}


.bx-search {
    font-size: 30px;
    width: 30px;
    height: 100%;
    margin-bottom: 1px;
    margin-top: 3px;
    background: transparent;
    transition: all 0.4s ease;

    &:hover {
        transform: translateX(3px);
    }
}

@media screen and (max-width: 600px) {
    header {
      padding: 1.75rem 5%; 
    }
  
    .search-box {
      max-width: 80%; 
      margin-top: 5rem; 
    }
  
    .search-txt {
      width: 70%; 
    }
  
    .search-txt {
        width: 97%;
        font-size: 16px;
    }

    .navbar a {
        font-size: 16px;
    }
  }

.products {
    display: flex;
    width: 100%;
    height: 60%;
    padding: 0 10%;
    background: transparent;
    flex-wrap: wrap;
    padding-top: 15px;
    align-items: center;
    justify-content: space-between;
}

.products .card {
    width: 270px;
    overflow: hidden;
    border: 2px solid var(--cor-btn);
    border-radius: 15px;
    box-shadow: 0 0 7px black;
    backdrop-filter: blur(20px);
    text-align: center;
    margin-bottom: 10px;
}

.products .img-product {
    width: 150px;
    margin: 20px auto;
}

.products .img-product img {
    width: 100%;
    transition: 0.4s;

    &:hover{
        transform: scale(1.1);
    }
}

.products .card .info-product h4{
    font-size: 18px;
    font-weight: 500;
    padding: 0 15px;
    margin-bottom: 10px;
}

.products .card .info-product{
    font-size: 20px;
    font-weight: 700;
    padding: 0 25px;
    margin-bottom: 10px;
}

.products .card .btnCard {
    width: 100%;
}

.products .card .btnCard button {
    width: 100%;
    padding: 10px;
    background: var(--cor-btn);
    border: 1px solid var(--cor-btn);
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 700;

    &:hover{
        background: var(--cor-btn-pointer);
    }
}

.bg-popup1 {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.content-popup1 {
    height: 400px;
    width: 500px;
    background-color: var(--cor-bg-fundo);
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20px;
}


.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 45px;
    color: var(--cor-fonte);
    transform: rotate(45deg);
    cursor: pointer;
    &:hover{
        color: var(--cor-btn);
    }
}

.close2 {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 45px;
    color: var(--cor-fonte);
    transform: rotate(45deg);
    cursor: pointer;
    &:hover{
        color: var(--cor-btn);
    }
}

.close3 {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 45px;
    color: var(--cor-fonte);
    transform: rotate(45deg);
    cursor: pointer;
    &:hover{
        color: var(--cor-btn);
    }
}

.img-popup1 {
    width: 140px;
    height: 145px;
    display: block;
    margin: 20px auto;
}

.img-popup1 img {
    width: 100%;
    height: 100%;
    transition: 0.4s;

    &:hover{
        transform: scale(1.1);
    }
}

.info-popup1 {
    margin-top: 1rem;
}

.info-popup1 h2 {
    font-size: 25px;
    font-weight: 700;
    color: var(--cor-fonte);
    margin-top: 20px;
    margin-bottom: 5px;
}

.info-popup1 h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-fonte);
    margin-bottom: 10px;
}

.info-popup1 h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--cor-fonte);
}

.btn-comprar {
    display: block;
    margin: 15px auto;
    justify-content: center;
    text-align: center;
    width: 120px;
    height: 35px;
}

.btn {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background: var(--cor-btn);
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid var(--cor-btn);
    transition: all .50s ease;

    &:hover {
        background: var(--cor-btn-pointer);
        transform: translateY(3px);
    }
}

.bg-popup2 {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.content-popup2 {
    height: 400px;
    width: 500px;
    background-color: var(--cor-bg-fundo);
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20px;
}

.img-popup2 {
    width: 140px;
    height: 145px;
    display: block;
    margin: 20px auto;
}

.img-popup2 img {
    width: 100%;
    height: 100%;
    transition: 0.4s;

    &:hover{
        transform: scale(1.1);
    }
}

.info-popup2 {
    margin-top: 1rem;
}

.info-popup2 h2 {
    font-size: 25px;
    font-weight: 700;
    color: var(--cor-fonte);
    margin-top: 20px;
    margin-bottom: 5px;
}

.info-popup2 h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-fonte);
    margin-bottom: 10px;
}

.info-popup2 h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--cor-fonte);
}

/* DIVISÃO */
.bg-popup3 {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.content-popup3 {
    height: 400px;
    width: 500px;
    background-color: var(--cor-bg-fundo);
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20px;
}

.img-popup3 {
    width: 140px;
    height: 145px;
    display: block;
    margin: 20px auto;
}

.img-popup3 img {
    width: 100%;
    height: 100%;
    transition: 0.4s;

    &:hover{
        transform: scale(1.1);
    }
}

.info-popup3 {
    margin-top: 1rem;
}

.info-popup3 h2 {
    font-size: 25px;
    font-weight: 700;
    color: var(--cor-fonte);
    margin-top: 20px;
    margin-bottom: 5px;
}

.info-popup3 h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-fonte);
    margin-bottom: 10px;
}

.info-popup3 h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--cor-fonte);
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 10px;
        overflow: auto;
    }
}