@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,1000;1,9..40,300;1,9..40,500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: rgba(18, 18, 18, 1);
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(18, 18, 18, 1);
    padding: 20px 8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.logo-image {
    width: 150px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

nav ul li a {
    margin-top: 60px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.titulopag {
    flex: 1;
    max-width: 600px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    margin-right: 30px;
    margin-bottom: 50px;
}

.titulopag h1 {
    font-size: 35px;
    margin-top: 20px;
    font-weight: 700;
    color: white;
    margin-right: 130px;
}

.titulopag h3 {
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
    margin-right: 220px;
}

.paneldados {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin-bottom: 60px;
    background: transparent;
    border: 2px solid white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
}

.formulario {
    width: 100%;
    max-width: 300px;
    margin-right: 250px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    background: transparent;
    color: #fff;

}

.formulario .btnReg{
    width: 140px;
    height: 40px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    background-color: #156513;
    border-color: transparent;
    color: white;
    margin-top: 10px;
    margin-left: 340px;
}

.formulario h2 {
    font-weight: 700;
    color: white;
    font-size: 30px;

}

.lbform {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-top: 20px;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.combobox select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: rgba(60, 60, 60, 0.40);
    color: white;
    width: 200px;
}

.combobox select:hover, .combobox select:focus {
    background-color: transparent;
}

.combobox select option {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
}

.custom-combobox select:focus {
    border-color: #156513; 
}

input[type="date"] {
    padding: 10px;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    width: 200px;
    background: rgba(60, 60, 60, 0.40);
}

.campotxt {
    width: 600px;
    height: 30px;
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 30px;
    background-color: rgba(60, 60, 60, 0.40);
    padding: 5px 10px;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.combobox .campotxt {
    width: 475px;
    height: 40px;
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 30px;
    background-color: rgba(60, 60, 60, 0.40);
    padding: 5px 10px;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
    width: 100%;
    height: 25px;
    width: 450px;
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 30px;
    background-color: rgba(60, 60, 60, 0.40);
    padding: 5px 10px;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}