@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,1000;1,9..40,300;1,9..40,500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-bg-fundo: linear(180deg, rgba(21, 101, 19, 0.05) 0%, rgba(255, 255, 255, 0.50) 99.99%); 
    --cor-navbar: linear(180deg, rgba(21, 101, 19, 0.60) 0%, rgba(255, 255, 255, 0.70) 100%); 
    --cor-fonte: #1E1F22;
    --cor-btn: #628A4C;
    --img-bg: url('bg1.jpg');
    --cor-btn-pointer: #87B344;
    --cor-btn-click: #77A364;
}

[data-theme="dark"]{
    --cor-bg-fundo: #2F3136;
    --cor-fonte: #F9F9F9;
    --cor-navbar: linear(180deg, rgba(35, 35, 35, 0.60) 0%, #156513 100%);
    --img-bg: url('bg2.jpg');
}

.iconuser{
    background-color: lightgray;
    border-radius: 50%;
    width: 2.0rem;
    height: 2.0rem;
}

#usericon{
    display: flex;
    align-items: center;
}

#usericon span{
    display: flex;
    margin: 0px 10px;
}

body {
    min-height: 100vh;
    background: var(--img-bg);
    background-size: cover;
    color: var(--cor-fonte);
}

header {
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 1.75rem 12%;
    transition: all .50s ease;
    border-bottom: 1px solid var(--cor-fonte);
}

.logo {
    display: flex;
    align-items: center;
}

.logo i{
    color: var(--cor-btn);
    font-size: 28px;
    margin-right: 3px;
}

.logo span{
    font-size: 1.4rem;
    font-weight: 1000;
    color: var(--cor-fonte);
    margin-right: 3px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--cor-fonte);
    font-size: 1.1rem;
    font-weight: 700;
    padding: 5px 0;
    margin: 0px 25px;
    transition: all .50s ease;

    &:hover {
        color: var(--cor-btn);
        transform: translateX(5px);
    }
}


.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--cor-fonte);
    font-size: 1.2rem;
    font-weight: 700;
    transition: all .50s ease;

    &:hover {
        color: var(--cor-btn);
        transform: translateX(5px);
    }
}


#btnTheme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    border-radius: 50%;
    border: transparent;
    background: transparent;
    color: var(--cor-fonte);
    font-weight: 700;
    transition: all .50s ease;
    
    &:hover{
        transform: translateX(5px);
    }
}

#btn-logout {
    font-size: 25px;
    color: var(--cor-fonte);
    cursor: pointer;
    z-index: 1000;

    &:hover{
        color: var(--cor-btn);
    }
}



#menu-icon {
    font-size: 30px;
    color: var(--cor-fonte);
    cursor: pointer;
    z-index: 10001;
    display: none;
    &:hover {
        color: var(--cor-btn);
    }
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }

}

@media (max-width: 1090px){
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 150%;
        background: var(--cor-bg-fundo);
        border: 1px solid var(--cor-fonte);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
    }

    .navbar a{
        display: block;
        margin: 10px 0;
        padding: 0px 20px;
        color: var(--cor-fonte);
        transition: all .50s ease;

        &:hover {
            color: var(--cor-btn);
            transform: translateY(5px);
        }
    }
    .navbar.open {
        right: 2%;
    }
}

.graficosPanel {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    background: transparent;
    border: 1px var(--cor-fonte);
    border-radius: 5px;
}

#chart_div text {
    fill: var(--cor-fonte);
    font-size: 20px;
}

#chart_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60rem;
    margin-bottom: 20px;
}