@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-bg-fundo: #E8F0E3; 
    --cor-navbar: #F1F6F0;
    --cor-fonte: #14150F;
    --cor-btn: #628A4C;
    --img-bg: url('fundo1light.png');
    --cor-btn-pointer: #87B344;
    --cor-btn-click: #77A364;
    --cor-sombra-navbar: rgba(30, 54, 30, 0.15);
}

[data-theme="dark"]{
    --cor-bg-fundo: #14150F;
    --cor-fonte: #E8F0E3;
    --cor-navbar:#303136;
    --img-bg: url('fundo1dark.png');
    --cor-sombra-navbar: rgba(255, 255, 255, 0.15);
}

body {
    min-height: 100vh;
    background: var(--img-bg);
    background-size: cover;
    color: var(--cor-fonte);
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 1.75rem 12%;
    transition: all .50s ease;
    box-shadow: 0px 3px 30px 3px var(--cor-sombra-navbar) inset;
}

.logo {
    display: flex;
    align-items: center;
}

.img-logo {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.logo span{
    font-size: 1.5rem;
    font-weight: 1000;
    color: var(--cor-fonte);
    margin-right: 2px;
    font-family: 'Agbalumo', serif;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--cor-fonte);
    font-size: 1.2rem;
    font-weight: 700;
    transition: all .50s ease;

    &:hover {
        color: var(--cor-btn);
        transform: translateX(5px);
    }
}


#btnTheme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    border-radius: 50%;
    border: transparent;
    background: transparent;
    color: var(--cor-fonte);
    font-weight: 700;
    transition: all .50s ease;
    
    &:hover{
        transform: translateX(5px);
    }
}

#btn-logout {
    font-size: 25px;
    color: var(--cor-fonte);
    cursor: pointer;
    z-index: 1000;

    &:hover{
        color: var(--cor-btn);
    }
}

.ftperfil {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: transparent;
    background-color: lightgrey;
}

main {
    display: flex;
    width: 100%;
    background: transparent;
    position: relative;
    padding: 0 10%;
    height: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    width: 100%;
    max-width: 120vh;
    margin-top: 5rem;
}

.left h1 {
    font-size: 30px;
    font-weight: 1000;
    color: var(--cor-fonte);
    margin-left: 4rem;
    margin-top: 2rem;
    text-align: left;
    width: 100%;
}

#btnFotoPerfil {
    width: 170px;
    height: 40px;
    background: var(--cor-btn);
    border-radius: 30px;
    border: transparent;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: all .50s ease;

    &:hover {
        background: var(--cor-btn-pointer);
        transform: translateY(3px);
    }
}

.right {
    justify-content: flex-end;
    text-align: start;
    align-items: center;
    background: transparent;
    width: 100%;
    max-width: 120vh;
    height: 100%;
    margin-top: 12rem;
    padding: 0 10%;
}

.right h2 {
    font-size: 25px;
    font-weight: 700;
    color: var(--cor-fonte);
}

.right h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--cor-fonte);
    margin-top: 5px;
    margin-bottom: 5px;
}

.lbinfo {
    font-size: 18px;
    color: var(--cor-fonte);
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btnEditar {
    width: 100px;
    height: 35px;
    background: var(--cor-btn);
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: 30px;
    border: transparent;
    transition: all .50s ease;
    cursor: pointer;
    margin-left: 20rem;
    margin-top: 1rem;

    &:hover {
        background: var(--cor-btn-pointer);
        transform: translateY(3px);
    }
}


#btnVincularLixeira {
    width: 10rem;
    height: 35px;
    background: transparent;
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-fonte);
    border-radius: 30px;
    border: transparent;
    transition: all .50s ease;
    cursor: pointer;
    margin-left: 17rem;
    margin-top: 2rem;


    &:hover {
        color: var(--cor-btn);
        transform: translateY(3px);
    }
}

#menu-icon {
    font-size: 30px;
    color: var(--cor-fonte);
    cursor: pointer;
    z-index: 10001;
    display: none;
    &:hover {
        color: var(--cor-btn);
    }
}





