@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-bg-fundo: linear(180deg, rgba(21, 101, 19, 0.05) 0%, rgba(255, 255, 255, 0.50) 99.99%); 
    --cor-navbar: #F1F6F0;
    --cor-fonte: #1E1F22;
    --cor-btn: #628A4C;
    --img-bg: url('fundo1light.jpg');
    --cor-btn-pointer: #87B344;
    --cor-btn-click: #77A364;
    --cor-sombra-navbar: rgba(30, 54, 30, 0.15);
}

[data-theme="dark"]{
    --cor-bg-fundo: #2F3136;
    --cor-fonte: #F9F9F9;
    --cor-navbar:#303136;
    --img-bg: url('fundo1dark.jpg');
    --cor-sombra-navbar: rgba(255, 255, 255, 0.15);
}

body {
    min-height: 100vh;
    background: var(--img-bg);
    background-size: cover;
    color: var(--cor-fonte);
    overflow: hidden;
    padding-top: 30px;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 1.75rem 12%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.img-logo {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.logo span{
    font-size: 1.5rem;
    font-weight: 1000;
    color: var(--cor-fonte);
    margin-right: 2px;
    font-family: 'Agbalumo', serif;
}

.navbar {
    display: flex;
    background: transparent;
}

.navbar a {
    color: var(--cor-fonte);
    font-size: 1.1rem;
    font-weight: 700;
    padding: 5px 0;
    margin: 0px 25px;
    transition: all .50s ease;
    background: transparent;
    border-bottom: 2px solid transparent;
    &:hover {
        color: var(--cor-btn);
        transform: translateX(5px);
        border-bottom: 2px solid var(--cor-btn);
    }
}


#btnTheme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    border-radius: 50%;
    border: transparent;
    background: transparent;
    color: var(--cor-fonte);
    font-weight: 700;
    transition: all .50s ease;
    
    &:hover{
        transform: translateX(5px);
    }
}

#menu-icon {
    font-size: 26px;
    color: var(--cor-fonte);
    cursor: pointer;
    z-index: 10001;
    display: none;
    &:hover {
        color: var(--cor-btn);
    }
}

main {
    display: flex;
    padding: 0 12%;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding-top: 2rem;
}

.propaganda {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.prop-text {
    width: 100%;
    height: 38vh;
    align-items: center;
    align-self: center;
    background: transparent;

}

.prop-text h1 {
    font-size: 45px;
    font-weight: 1000;
    color: var(--cor-fonte);
}

.prop-text h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--cor-fonte);
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-confprod {
    display: flex;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    height: 40px;
    text-align: center;
    background: var(--cor-btn-click);
    border-radius: 30px;
    border: 2px solid var(--cor-btn);
    align-items: center;
    cursor: pointer;
    justify-content: center;
    transition: all .50s ease;

    &:hover {
        transform: translateX(5px);
        background: var(--cor-btn-pointer);
    }
}

.btn-confprod a { 
    font-size: 18px;
    color: white;
    text-align: right;
}

.btn-confprod i {
    font-size: 27px;
    color: white;
    margin-top: 2px;
}

.prop-alt {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ajuste para alinhar os itens à esquerda */
    margin-top: 5rem;
    text-align: left;
    width: 100%;
    height: auto;
    background: transparent;
}

.prop-alt h4,
.prop-alt a {
    margin-bottom: 0;
}

.prop-alt h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-fonte);
    background: transparent;
}

.prop-alt a {
    width: 240px;
    height: 35px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    background: var(--cor-btn);
    border-radius: 30px;
    display: flex;
    margin-bottom: 10px;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    text-align: center; /* Ajuste para centralizar o texto */
    text-decoration: none;
    transition: all 0.5s ease;
}

.prop-alt a:hover {
    background: var(--cor-btn-pointer);
    transform: translateY(-3px);
}

.prop-alt h4:first-child {
    margin-top: 0;
}

.prop-img {
    min-width: 500px;
    min-height: 660px;
    max-width: 600px;
    max-height: 660px;
    text-align: center;
    align-items: center;
    align-self: center;
    background: transparent;
    margin-top: 1rem;
}

.img-prop {
    width: 80%;
    height: 80%;
    align-self: flex-start;
    text-align: left;
}



/* Ajuste para telas médias */
@media screen and (max-width: 1199px) and (min-width: 768px) {
    body {
        flex-direction: column;
    }
    .prop-text h1 {
        font-size: 50px; /* Tamanho médio para telas médias */
    }

    .prop-text h3 {
        font-size: 22px; /* Tamanho médio para telas médias */
    }

    .prop-img {
        min-width: 500px;
        min-height: 600px;
        max-width: 600px;
        max-height: 600px;
    }
}


@media screen and (max-width: 1200px) {
    body {
        flex-direction: column;
        padding-top: 30px;
        overflow: auto;
    }
    .prop-text h1 {
        font-size: 30px; /* Tamanho menor para telas pequenas */
        margin-bottom: 10px;
    }

    .prop-text h3 {
        font-size: 16px; /* Tamanho menor para telas pequenas */
        margin-bottom: 1rem;
    }

    .prop-alt h4 {
        font-size: 16px; /* Tamanho menor para telas pequenas */
        margin-bottom: 10px;

    }

    .prop-alt a {
        font-size: 14px; /* Tamanho menor para telas pequenas */
        width: 80%; /* Reduz a largura do botão */
    }
}

@media screen and (min-width: 1499px) {
    .prop-text h1 {
        font-size: 60px;
    }
}