@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-bg-fundo: linear(180deg, rgba(21, 101, 19, 0.05) 0%, rgba(255, 255, 255, 0.50) 99.99%); 
    --cor-navbar: #F1F6F0;
    --cor-fonte: #1E1F22;
    --cor-btn: #628A4C;
    --img-bg: #e8f0e3;
    --cor-btn-pointer: #87B344;
    --cor-btn-click: #77A364;
    --cor-sombra-navbar: rgba(30, 54, 30, 0.15);
}

[data-theme="dark"]{
    --cor-bg-fundo: #2F3136;
    --cor-fonte: #F9F9F9;
    --cor-navbar:#303136;
    --img-bg: #14150f;
    --cor-sombra-navbar: rgba(255, 255, 255, 0.15);
}

body {
    min-height: 100vh;
    background: var(--img-bg);
    background-size: cover;
    color: var(--cor-fonte);
    padding-top: 30px;
    overflow: hidden;
}

/* --------- ÁREA DA NAVBAR ------------ */
header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--img-bg);
    padding: 1.75rem 12%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.img-logo {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.logo span{
    font-size: 1.5rem;
    font-weight: 1000;
    color: var(--cor-fonte);
    margin-right: 2px;
    font-family: 'Agbalumo', serif;
}

.navbar {
    display: flex;
    background: transparent;
}

.navbar a {
    color: var(--cor-fonte);
    font-size: 1.1rem;
    font-weight: 700;
    padding: 5px 0;
    margin: 0px 25px;
    transition: all .50s ease;
    background: transparent;
    border-bottom: 2px solid transparent;
    &:hover {
        color: var(--cor-btn);
        transform: translateX(5px);
        border-bottom: 2px solid var(--cor-btn);
    }
}

#btnTheme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 50%;
    border: transparent;
    background: transparent;
    color: var(--cor-fonte);
    font-weight: 700;
    transition: all .50s ease;
    
    &:hover{
        transform: translateX(3px);
    }
}

#menu-icon {
    font-size: 26px;
    color: var(--cor-fonte);
    cursor: pointer;
    z-index: 10001;
    display: none;
    &:hover {
        color: var(--cor-btn);
    }
}


/* ---------- CONTEÚDO DA PÁGINA ------------ */

main {
    margin-top: 70px; /* Compensar a altura do header */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.propaganda-container {
    display: flex;
    position: relative;
    bottom: 30px;
    justify-content: center; 
    max-height: 30%;
    bottom: 3rem;
}


.propaganda {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    max-width: 50%;

}

.prop-text {
    width: 90%;
    margin-left: 7rem;
    margin-top: 10rem;

}

.prop-text h1 {
    font-weight: 1000;
    font-size: 45px;
    margin-bottom: 10px;
}

.prop-text h3 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}

.prop-img {
    text-align: left;
    position: relative;
    max-width: 50%;
}

.prop-img img {
    display: block;
    position: relative;
    height: auto;
    max-height: 90%; 
    max-width: 90%;
    position: relative; 
    left: 30px;
}

.btn-confprod {
    font-weight: 800;
    background: transparent;
    text-decoration: none;
    font-size: 26px;
    color: var(--cor-btn);
    transition: all .50s ease;

    &:hover {
        transform: translateX(5px);
        color: var(--cor-btn-pointer);
    }
}

.btn-confprod i {
    position: relative;
    font-weight: 1000;
    top: 5px;
}

.mobile-container {
    display: none;
}


@media screen and (min-width: 1600px) {
    .prop-img img {
        top: 40px;
    }

    .prop-text h1 {
        font-weight: 1000;
        font-size: 60px;
        margin-bottom: 10px;
    }
    
    .prop-text h3 {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .prop-text {
        margin-top: 16rem;
        margin-left: 10rem;
    }
}

@media screen and (max-width: 1200px) {
    .prop-img img {
        top: 120px;
    }
}


@media screen and (max-width: 800px) {
    body {
        overflow: auto;
    }


    .logo {
        position: relative;
        left: -15px;
    }
    
    .logo span{
        font-size: 20px;
        margin-left: 5px;
    }
    
    .navbar a {
        display: none;
    }

    #btnTheme {
        position: relative;
        left: 35px;
    }

    main {
        display: none;
    }

    .mobile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    .img-pag {
        max-width: 350px;
        max-height: 350px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        align-items: center;
    }

    .img-mobile {
        width: 100%;
    }

    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .content h1 {
        padding: 5px 20px;
        font-weight: 1000;
        font-size: 26px;
        color: var(--cor-fonte);
        margin-bottom: 10px;
    }

    .content h3 {
        padding: 5px 13px;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .btn-confprod2 {
        font-weight: 800;
        background: transparent;
        text-decoration: none;
        font-size: 24px;
        margin-bottom: 15px;
        color: var(--cor-btn);
        transition: all .50s ease;

        &:hover {
            transform: translateX(3px);
            color: var(--cor-btn-pointer);
        }
    }

    .btn-confprod2 i {
        position: relative;
        font-weight: 1000;
        top: 5px;
    }

    .content p {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
        color: var(--cor-fonte);
    }

    .btn-mobile {
        width: 130px;
        height: 35px;
        font-size: 16px;
        color: white;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 15px;
        border: none;
        border-radius: 30px;
        background: var(--cor-btn);
        transition: all .50s ease;
        margin-bottom: 30px;

        &:hover {
            transform: translateX(2px);
            background: var(--cor-btn-pointer);
        }
    }

}
